<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>New Micropost:</strong>
  <%= form_for [@user, Micropost.new], :remote => true do |f| %>
  <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</p>

<p>
  <strong>Microposts:</strong>
  <div id="micropostsWrapper">
  <div id="microposts">
    <% @user.microposts.reverse.each do |micropost| %>
    (<%=time_ago_in_words(micropost.created_at) %> ago)
    <%= micropost.content %>
    <br />
    <% end %>
  </div>
  </div>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= javascript_include_tag :'jquery.timeago' %>
<script language="javascript" type="text/javascript">
$(document).ready(
  function() {
        var done = 'lol';
        // get data periodically and refresh microposts
        var pingAfter = 10000;  
        var refreshId = setInterval(function() {
            $.getJSON('/users/<%= @user.id %>/microposts.json', function(data)
            {
              
            // Showing effect for new posts. Not working yet.
            //   var newMicroposts = [];
            //   for(var i = 0; i < data.length; i++)
            //   {
            //     if ($.inArray(data[i].id, oldMicroposts) == -1)
            //     {
            //       newMicroposts.push(data[i]);
            //     }
            //   }
            //   addMicroposts(newMicroposts);
            // });
        }, pingAfter);
    });

// Showing effect for new posts. Not working yet.
// function addMicroposts(microposts)
// {
//   if (microposts.length == 0)
//     return null;

//   var newContent = '</span><br />';

//   oldMicroposts.push(microposts[0].id);
//   var time_ago_in_words = $.timeago(microposts[0].created_at);
//   newContent = '(' + time_ago_in_words + ') ' + microposts[0].content + newContent;

//   for (var i = 1; i < microposts.length; i++)
//   {
//     oldMicroposts.push(microposts[i].id);
//     var time_ago_in_words = $.timeago(microposts[i].created_at);
//     newContent = '(' + time_ago_in_words + ') ' + microposts[i].content + '<br />' + newContent;
//   }

//   newContent = '<span class="new" style="display:none">' + newContent;
//   $('#microposts').prepend(newContent);
//   $('.new').toggle('highlight');
//   $('.new').removeClass('new');
// }

// var oldMicroposts = [];

</script>