<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>New Micropost:</strong>
  <%= form_for [@user, Micropost.new], :remote => true do |f| %>
  <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</p>

<p>
  <strong>Microposts:</strong>
  <div id="micropostsWrapper">
  <div id="microposts">
    <% @user.microposts.reverse.each do |micropost| %>
    (<%=time_ago_in_words(micropost.created_at) %> ago)
    <%= micropost.content %>
    <br />
    <% end %>
  </div>
  </div>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script language="javascript" type="text/javascript">
$(document).ready(function() {
        // get data every 5 mins and refresh myDiv
        var pingAfter = 1000;  
        var refreshId = setInterval(function() {
            oldText = $("#microposts").html();
            $("#micropostsWrapper").load('/users/<%= @user.id %> #microposts');
        }, pingAfter);
    });
</script>